#loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:10000;
    background-color: rgba(0,0,0,0.3);
    text-align: right;
    font-size: 18px;
    font-weight: 500;
}

#loading i {
    margin-top: 15px;
    margin-right: 30px;
}

#openViewModal table#movementOverview thead td {
    min-width: 50px;
    padding-left: 20px;
    font-weight: 500;
}

#openViewModal table#movementOverview thead td sup, #openViewModal table#movementOverview thead td sub {
    font-weight: 300;
}

#templates {
    display: none;
}

.views {
    position: relative;
    min-height: 100px;
}

.viewBox {
    border-bottom: 1px solid #666666;
    position: relative;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(top, #cccccc, #999999);
    background-image: linear-gradient(to bottom, #cccccc, #999999);
}

.viewBox .leftBox {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    padding: 10px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(top, #cccccc, #999999);
    background-image: linear-gradient(to bottom, #cccccc, #999999);

}

.viewBox .leftBox h1 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 0 0 5px 0;
    
    background-color: #666666;
    background-image: -webkit-linear-gradient(top, #999999, #666666);
    background-image: linear-gradient(to bottom, #999999, #666666);
    border-bottom: 1px solid #888888;
    margin: 0;
    padding: 5px;
    font-size: 18px;
}

.viewBox .leftBox h1 small {
    color: #333333;
    font-size: 85%;
}

.viewBox .leftBox h1 .closeBtn {
    position: absolute;
    right: 0;
    top: 4px;
    width: 25px;
    color: #000000;
    cursor: pointer;
}

.viewBox .leftBox .options {
    position: absolute;
    top: 40px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow: auto;
}

.viewBox .leftBox .options .scale {
    width: 180px;
    margin: 0 20px;
}

.viewBox .leftBox .options .scale .slider.slider-horizontal {
    width: 180px;
}

.viewBox .leftBox .options .scale .slider.slider-horizontal .slider-track {
    height: 6px;
}

.viewBox .leftBox .options .scale .slider-handle {
    background-color: #666666;
    background-image: -webkit-linear-gradient(top, #999999, #666666);
    background-image: linear-gradient(to bottom, #999999, #666666);
    height: 15px;
    width: 15px;
}

.viewBox .leftBox label {
    margin: 5px 0 2px;
    /*font-size: 12px;*/
}

.viewBox .leftBox .shortCuts {
    margin: 10px 0 20px;
}

.viewBox .leftBox .showShortcutsBtn {
    width: 115px;
}

.viewBox .leftBox .resolveShortcutsBtn {
    width: 115px;
}

/*TODO: put back in */
.viewBox .leftBox button.adjustOverlays {
    display: none;
}

.modal ul {
    font-size: 16px;
}

ul#scoreDefList li .staffLabel {
    width: 300px;
    display: inline-block;
} 

ul#scoreDefList li button.mute {
    margin-right: 10px; 
}

.modal button {
    text-shadow: none;
}

.modal button.freidiListBtn {
    position: relative;
    top: -3px;
}

.modal #xpathInput {
    width: 400px;
}

.modal .sourceCheck {
    margin-right: 3px;
    font-weight: 500;
}

.viewBox .rightBox {
    margin-left: 250px;
    padding-top: 10px;
    position: relative;
}

.viewBox .rightBox .renderBox {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 10px 10px 10px;
    min-height: 262px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5) inset;
    overflow: auto;
}

.viewBox .rightBox .renderBox .verovio {
    box-sizing: border-box;
    margin: 10px;
    overflow: hidden;
}

#annotationSources {
    margin-bottom: 20px;
}

.catRow .checkbox-inline {
    width: 130px;
}

.catRow + .panel {
    margin-top: 20px;
}

svg:not(:root) { overflow: auto; }

/*svg rect.highlight {
    fill: rgba(255,100,100,0.8);
}*/

svg .staffRect {
    fill: transparent;
}

svg .annotMarker.annotPrio1 {
    fill: #ff0000;
    opacity: 0.8;
}

svg .annotMarker.annotPrio2 {
    fill: #ff9900;
    opacity: 0.8;
}

svg .annotMarker.annotPrio3 {
    fill: #ffde00;
    opacity: 0.8;
}

.scaleNotes svg rect.highlight {
    display: none;
}

.scaleRects svg rect.highlight.abbr {
    fill: rgba(225,130,100,0.8);
}

.scaleRects svg rect.highlight.collaParte {
    fill: rgba(255,100,100,0.8);
}

.scaleRects svg rect.highlight.trem {
    fill: rgba(200,160,100,0.8);
}

.scaleRects svg rect.highlight.xpath {
    fill: rgba(100,100,255,0.8);
}

.scaleRects svg rect.highlight.app {
    fill: rgba(100,160,200,0.8);
}

.scaleRects svg .abbrItem, .scaleRects svg .tremItem, .scaleRects svg .collaParteItem, .scaleRects svg .xpathItem {
    fill: #000000;
    stroke: #000000;
}

.scaleNotes svg .abbrItem {
    fill: rgba(225,130,100,0.8);
    stroke: rgba(225,130,100,0.8);
}

.scaleNotes svg .collaParteItem {
    fill: rgba(255,100,100,0.8);
    stroke: rgba(255,100,100,0.8);
}

.scaleNotes svg .tremItem {
    fill: rgba(200,160,100,0.8);
    stroke: rgba(200,160,100,0.8);
}

.scaleNotes svg .xpathItem {
    fill: rgba(100,100,255,0.8);
    stroke: rgba(100,100,255,0.8);
}

.scaleNotes svg .appItem {
    fill: rgba(100,160,200,0.8);
    stroke: rgba(100,160,200,0.8);
}

/**************/
/* ANNOT VIEW */
/**************/

#annotContent {
    margin: 10px;
    position: relative;
}

#annotContent h1 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    color: #666666;
}

#annotContent #leftBox {
    position: absolute;
    top: 30px;
    left: 0;
    width: 600px;
    padding: 0 10px 0 0;
    border-right: 1px solid #cccccc;
}

#annotContent #leftBox .tab-content {
    height: 250px;
    margin-bottom: 10px;
}


#annotContent #leftBox .tab-content img {
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

#pillBox li > a {
    padding: 0 12px;
}

#annotContent #rightBox {
    position: absolute;
    top: 30px;
    left: 610px;
    right: 0;
    padding: 10px;
    /*background-color: #e5e5e5;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    */
}

a:hover, a:focus {
    text-decoration: none;
}

.siglum {
    font-weight: 400;
}

.siglum sup, .siglum sub {
    font-weight: 300;
}

#annotText .siglum {
    font-weight: 600;
    white-space:nowrap;
}

.nav > li > a {
    padding: 10px 13px;
}

dd, dt {
    margin-bottom: 4px;
}

#fullPageModal .modal-body {
    min-height: 250px;
    background-image: -moz-linear-gradient(top,#242424,#565656);
}

#fullPageModal .carousel-caption > h1 {
    font-size: 24px;
}

#fullPageModal .carousel-control fa {
    font-size: 30px;
}

#fullPageModal .carousel-indicators li {
    margin: 3px;
}

#fullPageModal .carousel-indicators li.active {
    margin: 2px;
}
